@font-face{
  font-family: 'NetralStd-Regular';
  src: url('NeutralStd-Regular.otf');
}
    
body{
  font-family: 'NetralStd-Regular', sans-serif;
  text-align: center;
}

link{
  color: pink;
  hover: green;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.animation{
  margin-top: 10%;
  animation-name: animations;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animations{
   0% {
     transform: rotate(0deg);
   }
  25% {
    transform: rotate(45deg);
    color: yellow;
   }
  50% {
    transform: rotate(-45deg);
     color: purple;
   }
  75% {
    transform: rotate(-90deg);
    color: red;
   }
   100% {
     transform: rotate(-135deg);
   }
  }
